<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a routerLink ="/home" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">Brahmapur</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Brahmapur</b> Admin</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../assets/images/small.png" class="user-image" alt="User Image">
              <span class="hidden-xs">Welcome Admin</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                <div class="pull-left">
                  <a routerLink ="Changepassword" class="btn btn-default btn-flat">Change Password</a>
                </div>
                <div class="pull-right">
                  <a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../assets/images/small.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Admin</p>
          <i class="fa fa-circle text-success"></i> online
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a routerLink ="/dashboard" >
            <i class="fa fa-dashboard"></i> <span>User Management</span>
            <span class="pull-right-container">
            </span>
          </a>
          <li>
            <a routerLink ="/category" >
              <i class="fa fa-th"></i> <span>Category Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/promote" >
              <i class="fa fa-th"></i> <span>Promote Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/post">
              <i class="fa fa-th"></i> <span>Post Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/product-category">
              <i class="fa fa-th"></i> <span>Product category Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/placeapi">
              <i class="fa fa-th"></i> <span>google data Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/driver">
              <i class="fa fa-th"></i> <span>Driver  Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/order">
              <i class="fa fa-th"></i> <span>order  Management</span>
            </a>
          </li>
          <li>
            <a routerLink ="/chat">
              <i class="fa fa-th"></i> <span>Chat  Management</span>
            </a>
          </li>
          
          <li class="treeview" (click)="logout()">
            <a href="javascript:;">
              <i class="fa fa-sign-out"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
        <!-- <button (notify)="onNotify($event)"></button> -->
      </section>
      <!-- /.sidebar -->
    </aside>
  </div>
