<app-sidemenu></app-sidemenu>
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Data Tables
      <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Post Management</h3>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="topnav">
                <a class="btn-primary" data-toggle="modal" (click)="action('add')" data-target="#myModal">Add <span
                    class="glyphicon glyphicon-plus"></span></a>
                <div class="row">
                  <div class="form-group" style="float:left;">
                    <div class="col-xs-6">
                      <label>Select Category</label>
                      <select class="form-control" name="category" [(ngModel)]="categorysearch" (ngModelChange)="onChange($event)">
                        <option value="">Select Category</option>
                        <option *ngFor="let item of category" [value]="item._id">{{item.title}}</option>
                      </select>
                    </div>
                    <div class="col-xs-6">
                      <label>Select Region</label>
                      <select class="form-control" name="category" [(ngModel)]="regionSearch">
                        <option value="">Select Region</option>
                        <option *ngFor="let item of region" [value]="item._id">{{item.title}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="search-container">
                    <input type="text" placeholder="Search shop..." name="search" [(ngModel)]="searchpost">
                  </div>
                </div>
              </div>
              <table class="table table-hover table-bordered table-striped table-condensed">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">image</th>
                    <th scope="col">category</th>
                    <th scope="col">Viwed</th>
                    <th scope="col">createdAt</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of postFilterByRegion|search:searchpost;let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td> <a [routerLink]="['/product-category/category', item._id]">{{item.title}}</a> </td>
                    <td>
                      <div *ngIf="item.images!=''"> <img [src]="item.images" width="50" height="50"></div>
                    </td>
                    <td> </td>
                    <td>{{item.viwed}} </td>
                    <td>{{item.createdAt|date:'short'}}</td>
                    <td>
                      <button type="button" class="btn btn-info btn-xs" [routerLink]="['id',item._id]">View</button>
                      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" (click)="edit(item)"
                        data-target="#myModal">Edit</button>
                      <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" (click)="openTag(item)"
                        data-target="#tagModal">tag</button>
                      <button type="button" class="btn btn-danger btn-xs" (click)="delete(item)">delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud|uppercase}} Category</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
              <div class="form-group">
                <label for="">Region</label>
                <select name="region" class="form-control" [(ngModel)]="cat.region">
                  <option *ngFor="let item of region" [value]="item._id">{{item.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">Category</label>
                <select name="category" class="form-control" [(ngModel)]="cat.category">
                  <option *ngFor="let item of category" [value]="item._id">{{item.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">User</label>
                <select name="user" class="form-control" [(ngModel)]="cat.userid">
                  <option *ngFor="let item of user" [value]="item._id">{{item.firstname}} {{item.lastname}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" placeholder="" [(ngModel)]="cat.title">
              </div>
              <div class="form-group">
                <label>Address</label>
                <input type="text" name="title" class="form-control" placeholder="" [(ngModel)]="cat.address">
              </div>
              <!--  -->
              <div class="form-group" *ngFor="let item of timing; let i=index">
                <div class="row">
                  <div class="col-md-2">
                    <label>{{item.date}}</label>
                  </div>
                  <div class="col-md-10">
                    <div class="col-xs-2">
                      <label for="fullDayId_{{i}}"><i class="fa fa-clock-o fa-2x" title="Full Day" aria-hidden="true"></i></label>&nbsp;
                      <input id="fullDayId_{{i}}" type="checkbox" [(ngModel)]="item.fullDay" (click)="fullDayTime(item)">
                    </div>
                    <div class="col-xs-3">
                      <input type="time" [disabled]="item.fullDay" [(ngModel)]="item.starttime" (blur)="checkFullDay(item)">
                    </div>
                    <div class="col-xs-3">
                      <input type="time" [disabled]="item.fullDay" [(ngModel)]="item.endtime" (blur)="checkFullDay(item)">
                    </div>
                    <div class="col-xs-2" *ngIf="i==0 && item.starttime[0] && item.endtime[0]">
                      <button class="btn btn-success btn-xs" type="button" (click)="setAllTime()">
                        <span class="icon-repeat">Set All</span>
                      </button>
                    </div>
                    <div class="col-xs-2" *ngIf="i==0 && item.starttime[0] && item.endtime[0]">
                      <button class="btn btn-primary btn-xs" type="button" (click)="resetAllTime()">
                        <span class="icon-repeat"><i class="fa fa-refresh" title="Reset All" aria-hidden="true"></i></span>
                      </button>
                    </div>
                    <div class="col-xs-3" *ngIf="i !== 0 && item.starttime">
                      <button class="btn btn-danger btn-xs" type="button" (click)="deleteTime(item)">
                        <span class="icon-repeat">X</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input type="tel" name="phone" class="form-control" placeholder="" [(ngModel)]="cat.phone">
              </div>
              <div class="form-group">
                <label>Rating</label>
                <input type="number" name="rating" class="form-control" placeholder="" [(ngModel)]="cat.rating">
              </div>
              <div class="form-group">
                <label>Website link</label>
                <input type="url" name="website" class="form-control" placeholder="" [(ngModel)]="cat.website">
              </div>
              <div class="form-group">
                <label>Description</label>
                <app-ngx-editor [spellcheck]="true" [(ngModel)]="cat.description"></app-ngx-editor>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="addPost()">Save</button>
        </div>
        <div class="form-group" *ngIf="this.crud=='edit'">
          <label>Image</label>
          <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
          <button (click)="fileInput.click()">Select File</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tagModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud|uppercase}} Category</h4>
      </div>
      <div class="modal-body">
        <div class="box box-primary">
          <div class="box-body">
            <div class="form-group">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Add tag</label>
          <input type="text" name="tag" class="form-control" placeholder="" [(ngModel)]="tagval.title">
          <button (click)="addTag()">add</button>
        </div>
        <h4>
          <p>Selected tag</p>
        </h4>
        <ul class="tags">
          <li *ngFor="let item of selectedtags;let i = index">
            <a (click)="deleteTag(item,i)" class="tag selected">{{item}}</a>
        </ul>
        <h4>
          <p>Tag exists</p>
        </h4>
        <ul class="tags">
          <li *ngFor="let item of tag;let i = index">
            <a (click)="selectTag(item.tagname)" class="tag "> {{item.tagname}}</a>
        </ul>
      </div>
    </div>
  </div>
</div>
